body {
    font-family: roboto, arial, sans-serif;
    height: 100%;
    width: 100%;
}

.headertop {
    background-color: #1f2937;
    color:white;
    display: flex;
    gap: 15px;
    padding: 15px 90px;
    font-size: 0.8rem;
}

.headerlogo {
    margin-right: auto;
    font-weight: 700;
    font-size: 1.3rem;
}

.headerbottom {
    background-color: #1f2937;
    color: white;
    padding: 60px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupbox {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 320px;
    height: 200px;
}

.box1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    width: 90px;
    height: 28px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
}

.imagebox {
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 200px;
}

.sec2maindiv > img {
    width: 100px;
    height: 100px;
    max-width: 200px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    justify-content: center;
  }
  
  .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
  }
  
  .sec2maindiv {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
  }

.beach1 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.beach2 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.beach3 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.beach4 {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.pagesection3 {
    background-color: #e5e7eb;
}

.quotediv {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
}

.authordiv {
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;
    padding-bottom: 100px;
}

.pagesection4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.secondsignupbox {
    background-color: #3882F6;
    border-radius: 15px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    height: 75px;
}

.footer {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}